@import "settings";
@import "foundation";
@import "font-awesome";

/*@font-face {
	font-family: "yellowsun";
	src: url('../fonts/dk-lemon-yellow-sun.otf') ;
}
*/
/*
@font-face {
	font-family: "moonflower";
	src: url('../fonts/moonflower-bold.ttf') ;
}
*/

@font-face {
	font-family: "frente";
	src: url('../fonts/frenteh1-regular.otf') ;
}

@font-face {
	font-family: "montserrat";
	src: url('../fonts/Montserrat-Regular.ttf') ;
}

@font-face {
	font-family: "proximanova";
	src: url('../fonts/ProximaNova-Regular.otf') ;
}


body {
	background: $grey;
	font-family: "proximanova", "montserrat", "frente";
}
.menu-bar.primary {
	background: $grey;
}

.menu-bar.primary > li > a:hover {
      background: $grey;
 }

.tc-logo {
	padding: 5px;
}

#settings-panel ul {
	color: #f9ecd1;
	list-style-type: none;
	line-height: 300%;
}

#settings-header{
	color: $turquoise;
	margin: 20px;
	padding-top: 40px;
}

#settings-panel a {
	color: #f9ecd1;
}
.tc-spacer {
	visibility: hidden;
}

.tc-landing {
	list-style: none;
}

.tc-landing li {
	padding-top:20px;
}

.tc-ghost {
	color: $turquoise;
	display: inline-flex;
	font-size: 1.5em;
	margin: 7px;
	width: 0;
}
.tc-kids {
	font-family: frente;
	color: $yellow-light;
	background: #6dc065;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	font-size: 1.5em;
	font-weight: bold;
	width: 2.0rem;
	height: 2.0rem;
	border: 1px solid $yellow;
	border-radius: 1000px;
	margin: 7px;
}


.pca {
	background: #0071b5;
	
}
.pcb {
	background: #ff1791;
	
}
.pcc {
	background: #6dc065;
	
}

.tc-cal-date {
	vertical-align: top;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 2em;
	height: 3em;
}

.tc-cal-date .tc-day-c,
.tc-cal-date .tc-date-c {
	text-align: center;
	line-height: 1.0;
	display: block;
	flex: 1 1 auto;
}

.tc-cal-date .tc-day-c {
	text-transform: uppercase;
	order: 1;
	font-size: 0.6em;
}

.tc-cal-date .tc-date-c {
	order: 2;
	font-size: 1.5em;
}


.tc-daydate {
	/*font-family: frente;*/
	color: $yellow-light;
	justify-content: center;
	display: inline-flex;
	/*font-weight: bold;*/
	width: 2.0rem;
	height: 2.0rem;
	padding: 7px;

}

.tc-day {
	font-size: 12px;
	position: relative;
	left: 10px;
	top: -20px;
}

.tc-date {
	font-size: 24px;
	position: relative;
	right: 10px;
	bottom: 5px;
}


.tc-days {
	color: $yellow-light;
	background: $turquoise;
	border-width: 1px;
	border-bottom-style: solid;
	list-style: none;
	height: 3.0rem;
	/*display: inline-flex;*/
	/*font-size: 1.5em;*/
}

.tc-days a {
	color: $yellow-light;
	padding: 8px;
}

.tc-weeks {
	/*color: $yellow-light;*/
	background: $yellow;
	/*border-width: 1px;*/
	/*border-bottom-style: solid;*/
	list-style: none;
	height: 3.0rem;
	margin: 0;
}

.tc-weeks li {
	display: inline-flex;
	padding-left: 6px;
}

.tc-weeks li .tc-daydate {
	margin-top: 12px;
	margin-right: 10px;
	color: $brown;	
}


.tc-weeks li .tc-schoolday {
	color: $yellow-light;
}

.tc-today {
	background: $turquoise-dark;
}


.tc-weeks .tc-today {
	background: $yellow;
}

.tc-weeks .tc-today .tc-cal-date {
	color: $turquoise;
}

.tc-screen {
	
}

.tc-icon {
	color: $turquoise-dark;
	font-size: 32px;
}

.tc-img-icon {
	height: 40px;
	width: 40px;
}

/* ? */
/*ul ul, ol ul {
  list-style-type: none;
  color: black;
}*/


.clndr {
  display: block;
  margin: 0 auto;
  max-width: 400px; }
  .clndr .clndr-controls {
    border-bottom: 1px solid #ccc;
    position: relative; }
    .clndr .clndr-controls .month {
      padding: 12px 0;
      text-align: center; }
    .clndr .clndr-controls .clndr-previous-button, .clndr .clndr-controls .clndr-next-button {
      cursor: pointer;
      top: 0px;
      left: 0px;
      padding: 12px;
      position: absolute; }
    .clndr .clndr-controls .clndr-next-button {
      left: auto;
      right: 0px; }
  .clndr .clndr-grid .days-of-the-week {
    width: 100%; }
    .clndr .clndr-grid .days-of-the-week .header-day {
      float: left;
      width: 14.28571%;
      padding: 12px 0;
      text-align: center; }
  .clndr .days .day, .clndr .days .empty {
    float: left;
    width: 14.28571%;
    padding: 12px 0;
    position: relative;
    text-align: center; }
    .clndr .days .day.today, .clndr .days .empty.today {
      background-color: #ccc; }
    .clndr .days .day .event-indicator, .clndr .days .empty .event-indicator {
      background-color: #3BB7E8;
      border-radius: 100%;
      color: #fff;
      cursor: pointer;
      font-size: 9px;
      height: 15px;
      line-height: 16px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 15px; }
    .clndr .days .day.adjacent-month, .clndr .days .day.inactive, .clndr .days .empty.adjacent-month, .clndr .days .empty.inactive {
      opacity: 0.3; }