@import "settings";
@import "foundation";
@import "font-awesome";

/*@font-face {
	font-family: "yellowsun";
	src: url('../fonts/dk-lemon-yellow-sun.otf') ;
}
*/
/*
@font-face {
	font-family: "moonflower";
	src: url('../fonts/moonflower-bold.ttf') ;
}
*/

@font-face {
	font-family: "frente";
	src: url('../fonts/frenteh1-regular.otf') ;
}

@font-face {
	font-family: "montserrat";
	src: url('../fonts/Montserrat-Regular.ttf') ;
}

@font-face {
	font-family: "proximanova";
	src: url('../fonts/ProximaNova-Regular.otf') ;
}

@font-face {
    font-family: 'foxholeregular';
    /*src: url('../fonts/../fonts/foxhole-regular-webfont.eot');*/
    /*src: url('../fonts/foxhole-regular-webfont.eot?#iefix'),*/
    src: url('../fonts/foxhole-regular-webfont.woff2'),
         url('../fonts/foxhole-regular-webfont.woff'),
         url('../fonts/foxhole-regular-webfont.ttf'),
         url('../fonts/foxhole-regular-webfont.svg#foxholeregular');
    font-weight: normal;
    font-style: normal;
}

body {
	background: $grey;
	font-family: "proximanova", "montserrat", "foxholeregular", "frente";
	background-image: url('../img/landing-page-bg-640.png');
	background-size: 384px 640px;
}

.menu-bar.primary {
	background: $grey;
}

.menu-bar.primary > li > a:hover {
      background: $grey;
 }

.title-bar {
	background: $grey;
	border-bottom-style: none;
	/*padding-left: 10px;*/
}

.tc-logo {
	padding: 5px;
}

#settings-panel ul {
	color: $cream;
	list-style-type: none;
	line-height: 300%;
}

#settings-panel a {
	color: $cream;
}

#settings-header{
	color: $turquoise;
	margin: 20px;
	padding-top: 40px;
}

#quicklook-panel ul {
	list-style-type: none;
	line-height: 400%;
}



.tc-spacer {
	visibility: hidden;
}

.tc-landing {
	/*background-image: url('../img/landing-page-bg-640.png');*/
	/*background-size: 384px 640px;*/
}

.tc-landing  {
	/*list-style: none;*/
}

.tc-landing {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tc-ghost {
	color: $turquoise;
	display: inline-flex;
	font-size: 1.5em;
	margin: 7px;
	width: 0;
}

.tc-hw-header {
	color: #fff;
}

.tc-hw-date {
	background-color: $turquoise-dark;
}

.tc-hw-name {
	background-color: $navy;
	text-align: center;
	padding-top: 1em;
}

.tc-hw-class {
	background-color: $turquoise;
	text-align: left;
	padding-top: 1em;

}

.tc-hw-journal {
	padding-top: 1em;

}

.tc-hw-journal li {
	list-style: none;
	line-height: 110%;
	margin-top: 10px;
}

.tc-hw-subject {
	text-transform: uppercase;
	font-weight: bold;
}

.tc-hw-topic {
	font-weight: bold;
}

.tc-kids {
	font-family: foxholeregular;
	color: $yellow-light;
	background: #6dc065;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	font-size: 1.5em;
	font-weight: bold;
	width: 2.0rem;
	height: 2.0rem;
	border: 1px solid $yellow;
	border-radius: 1000px;
	margin: 7px;
}


.pca {
	background: #0071b5;
	
}
.pcb {
	background: #ff1791;
	
}
.pcc {
	background: #6dc065;
	
}

.tc-cal-date {
	padding-top: 0.5em;
	vertical-align: top;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 2em;
	height: 3em;
}

.tc-cal-date .tc-day-c,
.tc-cal-date .tc-date-c {
	text-align: center;
	line-height: 1.0;
	display: block;
	flex: 1 1 auto;
}

.tc-cal-date .tc-day-c {
	text-transform: uppercase;
	order: 1;
	font-size: 0.6em;
}

.tc-cal-date .tc-date-c {
	order: 2;
	font-size: 1.5em;
}


.tc-daydate {
	/*font-family: frente;*/
	color: $yellow-light;
	justify-content: center;
	display: inline-flex;
	/*font-weight: bold;*/
	width: 2.0rem;
	height: 2.0rem;
	padding: 7px;

}

.tc-day {
	font-size: 12px;
	position: relative;
	left: 10px;
	top: -20px;
}

.tc-date {
	font-size: 24px;
	position: relative;
	right: 10px;
	bottom: 5px;
}


.tc-days {
	color: $yellow-light;
	background: $turquoise;
	border-width: 1px;
	border-bottom-style: solid;
	list-style: none;

	height: 3.0rem;
	/*display: inline-flex;*/
	/*font-size: 1.5em;*/
}

.tc-days a {
	color: $yellow-light;
	padding: 8px;
}

.tc-message li {
	list-style: none;
	color: #000;
}

.tc-weeks {
	/*color: $yellow-light;*/
	background: $yellow;
	/*border-width: 1px;*/
	/*border-bottom-style: solid;*/
	list-style: none;
	height: 3.0rem;
	margin: 0;
}

.tc-weeks li {
	display: inline-flex;
	padding-left: 6px;
}

.tc-weeks li .tc-daydate {
	margin-top: 12px;
	margin-right: 10px;
	color: $brown;	
}


.tc-weeks li .tc-schoolday {
	color: $yellow-light;
}

.tc-today {
	background: $turquoise-dark;
}


.tc-weeks .tc-today {
	background: $yellow;
}

.tc-weeks .tc-today .tc-cal-date {
	color: $turquoise;
}

.tc-screen {
	
}

.tc-icon {
	color: $turquoise-dark;
	font-size: 32px;
}

.tc-img-icon {
	height: 40px;
	width: 40px;
}

.tc-ql-open {
	padding-top: 20px;
	float: right;
}

.tc-ql-icon {
	margin-left: 30px;
}


/* ? */
/*ul ul, ol ul {
  list-style-type: none;
  color: black;
}*/

/*.tc-yearview {
	border: 1px solid $turquoise;
}*/

.clndr {
	display: block;
	margin: 0 auto;
	max-width: 400px;
	box-shadow: 10px 10px 0 10px  000;
}

.clndr .clndr-controls {
	border-bottom: 1px solid $turquoise;
	position: relative; 
}

.clndr .clndr-controls .month {
	font-size: 24px;
	color: $turquoise;
	padding: 12px 0;
	text-align: center; 
}

.clndr .clndr-controls .clndr-previous-button, .clndr .clndr-controls .clndr-next-button {
	color: $turquoise;
	font-size: 56px;
	cursor: pointer;
	top: -20px;
	left: 0px;
	padding: 12px;
	position: absolute;
 }
 
 .clndr .clndr-controls .clndr-next-button {
	left: auto;
	right: 0px; 
 }

 .clndr .clndr-grid .days-of-the-week {
 	font-size: 10px;
    width: 100%; 
}

.clndr .clndr-grid .days-of-the-week .header-day {
	color: $brown;
	float: left;
	width: 14.28571%;
	padding: 12px 0;
	text-align: center; 
}

.clndr .days .day, .clndr .days .empty {
	font-size: 24px;
	color: $brown;
    float: left;
    width: 14.28571%;
    padding: 12px 0;
    position: relative;
    text-align: center; 
}

.clndr .days .day.today, .clndr .days .empty.today {
	background-color: #ccc; 
}
.clndr .days .day .event-indicator, .clndr .days .empty .event-indicator {
	background-color: red;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	font-size: 9px;
	height: 15px;
	line-height: 16px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 15px; 
}
.clndr .days .day.adjacent-month, .clndr .days .day.inactive, .clndr .days .empty.adjacent-month, .clndr .days .empty.inactive {
	opacity: 0.3; 
}




.custom-notification {
// Extend the base selector to get core styles
@extend %notification;
// Use the layout mixin to position and structure the notification
@include notification-layout(
$x: left, // Can be left, middle, or right
$y: top, // Can be top or bottom
$size: 400px, // Width of notification
$offset: 1rem // Offset from the edge of the window
);
// Use the style mixin to style the notification
@include notification-style(
$background: $turquoise, // Background color
$color: $cream, // Text color
$padding: 1rem,
$radius: 4px
);
.custom-notification-icon {
@include notification-icon(
$size: 50px, // Width and height of the icon
$margin: 1rem, // Right-hand margin
$align: top // Can be top, middle, or bottom
);
}
}