---
name: about
url: /about
controller: AboutController
---
<!-- <div class="grid-content">
  <div class="grid-container"> -->

    <h2>About Us</h2>
    
    <p>Tchalk brings information to your fingertips. 
    Developed in collaboration with Schoolbooks.ie, Tchalk was designed to help users, Schools, Teachers and Parents to find up to date class and student information and document links all in the one location.</p>

    <p>The Tchalk team developed the WebApp with the user in mind, with an appealing design, easy to navigate features and affordable for all.</p>
    
 <!--  </div>
</div> -->
