---
name: account
url: /account
controller: AccountController
---
  
<div class="vertical grid-block small-up-1">

    <div class="grid-container">    
      <form>
        
        <label></label>
        <input 
          type="text" 
          name="username" 
          id="username" 
          ng-model="username"
          placeholder="USERNAME"
          required> 

        <label></label>
        <input 
          type="password"
          name="password"
          id="password"
          ng-model="password"
          placeholder="PASSWORD"
          required>

        <label></label>
        <input 
          type="password"
          name="confpwd"
          id="confpwd"
          ng-model="confpwd"
          placeholder="CONFIRM PASSWORD"
          required>

        <label></label>
        <input 
          type="email"
          name="email"
          id="email"
          ng-model="email"
          placeholder="E-MAIL"
          required>

        <label></label>
        <input 
          type="text" 
          name="name" 
          id="name" 
          ng-model="name"
          placeholder="NAME"
          required>

        <label></label>
        <input 
          type="text" 
          name="phone1" 
          id="phone1" 
          ng-model="phone1"
          placeholder="PHONE 1"
          required>

        <label></label>
        <input 
          type="text" 
          name="phone2" 
          id="phone2" 
          ng-model="phone2"
          placeholder="PHONE 2"
          required>

        <label></label>
        <input 
          type="text" 
          name="profile" 
          id="profile" 
          ng-model="profile"
          placeholder="PUBLIC PROFILE"
          required>

      </form>
      
    </div>

    <a class="button" ng-click="Save()">SAVE</a>
        
</div>
