---
name: calendar2
url: /calendar2
controller: Calendar2Controller
---

<div class="grid-container" style="margin: 0;">

  <!-- <button ng-click="Calendar2()" >C2</button> -->
  <button ng-click="prevWeek()" ng-show="showPrev">Last Week</button>
  <button ng-click="currWeek()" ng-show="showCurr">This Week</button>
  <button ng-click="nextWeek()" ng-show="showNext">Next Week</button>
<!-- <section class="block-list"> -->
<section>

<!--   <zf-accordion auto-open="false" collapsible="true" multi-open="false" ng-repeat="rec in records">
    zf-accordion-item title=
          "{{rec.day}}  {{rec.pupils[0]['p']}}{{rec.pupils[1]['p']}}{{rec.pupils[2]['p']}}">{{rec.day}}
      <ul>
        <li ng-repeat="message in rec.messages">{{message['p']}}:{{message['m']}}</li>
      </ul>
    </zf-accordion-item>
  <div id='calendar'></div>
  </zf-accordion> -->

  <ul style="margin: 0;">
    
    <li  ng-repeat="rec in records"  class="tc-days" ng-class="{'tc-today':today==rec.dom}">
      <a zf-open="{{$index}}">
        {{rec.day}} {{rec.dom}} 
        <span ng-repeat="pupil in rec.pupils" class="pc{{pupil['c']}}">{{pupil['i']}}</span>
      </a>
        <span  zf-modal="" id="{{$index}}">
          <a zf-close="{{$index}}"><button>Close</button>
            <ul>
              <li ng-repeat="message in rec.messages"><span class="pc{{message['c']}}">{{message['i']}}</span>{{message['m']}}</li>
            </ul> 
          </a>       
        </span>      
    </li>    

  </ul>
    
  <ul class="tc-weeks">
    <li  ng-repeat="day in weekA" ng-class="{'tc-schoolday':$index < 5, 'tc-today':today==day.dom}">
    {{day.day}} {{day.dom}}
    </li>
  </ul>

    <ul class="tc-weeks">
    <li  ng-repeat="day in weekB" ng-class="{'tc-today':today==day.dom}">
    {{day.day}} {{day.dom}}
    </li>
  </ul>

</section>
</div>
