---
name: calendar
url: /calendar
controller: CalendarController
---

<div class="" style="margin: 0;">
  <button ng-click="prevWeek()" ng-disabled="disablePrev">Last Week</button>
  <button ng-click="currWeek()" ng-disabled="disableCurr">This Week</button>
  <button ng-click="nextWeek()" ng-disabled="disableNext">Next Week</button>


  <ul style="margin: 0;">
    
    <li  ng-repeat="rec in records"  class="tc-days" ng-class="{'tc-today':today==rec.dom}">
      <a zf-open="{{$index}}">
        <span class="tc-cal-date"><span class="tc-day-c">{{rec.day}}</span><span class="tc-date-c"> {{rec.dom}}</span></span>
        <span class="tc-ghost">.</span> 
        <span ng-repeat="pupil in rec.pupils" class="tc-kids pc{{pupil['c']}}">{{pupil['i']}}</span>
      </a>

        <span  zf-modal="" id="{{$index}}" class="tiny dialog">
          <a zf-close="{{$index}}"><img src="assets/img/tchalk-close_X_button-navy.svg" height="45" width="30" class="left"></a>
          <p></p>
            <ul class="tc-message">
              <li ng-repeat="message in rec.messages">
                <span class="tc-kids pc{{message['c']}}">{{message['i']}}</span>
                <span class="">{{message['m']}}</span>
              </li>
            </ul>                 
        </span>
    </li>    

  </ul>
    
  <ul class="tc-weeks">
    <li  ng-repeat="day in weekA" ng-class="{'tc-today':today==day.dom}">
       <span class="tc-cal-date" ng-class="{'tc-schoolday':($index < 5 && disablePrev), 'tc-today':today==day.dom}">
        <span class="tc-day-c">{{day.day}}</span>
        <span class="tc-date-c"> {{day.dom}}</span>
      </span>
    </li>
  </ul>

  <ul class="tc-weeks">
    <li  ng-repeat="day in weekB" ng-class="{'tc-today':today==day.dom}">
      <span class="tc-cal-date" ng-class="{'tc-schoolday':($index < 5 && disableCurr), 'tc-today':today==day.dom}">
        <span class="tc-day-c">{{day.day}}</span>
        <span class="tc-date-c"> {{day.dom}}</span>
      </span>
    </li>
  </ul>

  <ul class="tc-weeks">
    <li  ng-repeat="day in weekC" ng-class="{'tc-today':today==day.dom}">
      <span class="tc-cal-date" ng-class="{'tc-schoolday':($index < 5 && disableNext), 'tc-today':today==day.dom}">
        <span class="tc-day-c">{{day.day}}</span>
        <span class="tc-date-c"> {{day.dom}}</span>
      </span>
    </li>
  </ul>
</div>