---
name: faq
url: /faq
controller: FaqController
---

<!-- <div class="grid-content">
  <div class="grid-container"> -->

    <h2>FAQ</h2>

    <h4>How do I get started with Tchalk?</h4>

    <p>It couldn't be simpler. A new users can register on Tchalk in a matter of minutes. 
    The initial setup takes no more than 5 minutes to complete by clicking the account button.
    All you need to do is select your stream profile, Teacher or Parent, from the landing page.</p>

    <h4>Is Tchalk difficult to learn and use?</h4>

    <p>Tchalk is designed for simplicity, user familiarity in order to be really intuitive to use. 
    If you can use a calendar or any basic WebApp, you will have no difficulty mastering Tchalk.</p>

    <h4>What information will Tchalk allow Me To Access?</h4>

    <p>Depending on your stream, Teacher/School or Parent, information will be tailored to suit.</p>

    <p>For instance, the school Principal, Deputy Principal, Class teachers or Secretary can access and update daily student tasks, events and activities. 
    Teachers will only see students in their own class and resource teachers will only see the students they teach.</p>

    <p>Parents on the other-hand benefit from having this information in one place, available 24/7.</p>

    <h4>What are the benefits from using Tchalk?</h4>

    <p>For Schools, administrative tasks will become easier, with less paperwork coupled with the advantage of better communication with staff and parents. 
    You will also have more up to date information at your fingertips, particularly when talking to parents, reduce the time it takes to manage attendance, communicate tasks, activities and share homework. 
    This will free up time to improve planning with better information to enhance learning. Improved information flow will result in greater opportunities for teamwork and collaboration.</p>

    <p>For Parents, you can say goodbye to the constant feed of notification flyers. In addition to this you will have more visibility of your child’s schedule each day and indeed over the coming weeks, months or year.</p>

    <h4>What About Data Protection And Security?</h4>

    <p>Security of your data is of the utmost importance to Tchalk and therefore we partner with global industry leaders to ensure this is the case. We use hosted databases to store your school and student information in data centres within the EU, which are independently audited and certified to international standards. Also, we employ security software for daily scans on the Tchalk platform to verify that information is valid and protected from external threats.</p>

<!--   </div>
</div> -->