---
name: login
url: /login
controller: LoginController
---


<div class="grid-block align-center">
  <div zf-tabs="">

    <div zf-tab="" title="LOGIN">

      <div class="vertical grid-block small-up-1">

        <div class="grid-container">    
          <form>
            <label></label>
            <input 
              type="text" 
              name="username" 
              id="username" 
              ng-model="username"
              placeholder="USERNAME"
              required>    
             <label></label>
            <input 
              type="password"
              name="password"
              id="password"
              ng-model="password"
              placeholder="PASSWORD"
              required>

            <a class="button" ui-sref="calendar" ng-click="$parent.Login()">LOGIN</a>

          </form>

        </div>           
        
      </div>

    </div>
      
    <div zf-tab="" title="REGISTER">

      <div class="vertical grid-block small-up-1">

        <div class="grid-container">

          <form>
            <label></label>
            <input 
              type="text" 
              name="name" 
              id="name" 
              ng-model="name"
              placeholder="NAME"
              required>

            <label></label>
            <input 
              type="text" 
              name="username" 
              id="username" 
              ng-model="username"
              placeholder="USERNAME"
              required>
              
            <label></label>
            <input 
              type="password"
              name="password"
              id="password"
              ng-model="password"
              placeholder="PASSWORD"
              required>

            <label></label>
            <input 
              type="password"
              name="confpwd"
              id="confpwd"
              ng-model="confpwd"
              placeholder="CONFIRM PASSWORD"
              required>

            <a class="button" ng-click="$parent.Register('uuuu', 'xxxx')">CREATE ACCOUNT</a>
                    
          </form>

        </div>
      
      </div>

    </div>

  </div>

</div>